@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.hamburger{
    align-self: center;

}
.navBar{
    padding: 0.8rem; 
    gap:1rem;
    background-color: transparent;
    height:100px;
    display:flex;
    justify-content: space-between;
    /* justify-content: center; */

    align-items:  center;
    width:90%;
    margin: 0 auto;
    /* padding:auto; */
    /* font-family: 'Roboto', sans-serif; */
    
    font-weight:700;
    font-size:0.8rem;   
    background-color: transparent;  
    border-bottom: white 1px solid;   
    opacity:1;
    z-index:100;
    
}

.logo{
     width:11rem;
    /* height:8rem;  */
    display:flex;
    align-items:  center;
    cursor:pointer;

}
.logoSVG{
    width:100%;
    height:100%;

}
.links{
    width:100%;
    margin:0 auto;
    display:flex;
    list-style-type:none;
    justify-content: center;
    color:white;
}
.linksList{
    display:flex;
    justify-content:space-around;
    gap:1.5rem;
    list-style-type:none;
    width:75%;
    margin:0 auto;
    text-decoration: none;
    cursor:pointer;

}
.text{
    text-decoration: none;
    font-family: 'Kalnia', serif;

    /* font-family: 'Bebas Neue', sans-serif; */

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat Alternates', sans-serif; */
color:white;
font-weight:800;

}

.buttons{
    display:flex;
    gap: 1rem;
}
.logButton{
    border:none;
    height:3rem;
    width:6rem;
    /* background-color:rgba(73, 93, 64, 0.856); */
    background-color: transparent;
    /* color:rgba(73, 93, 64, 0.856); */
    color:white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 19px;
    text-align: center;
    cursor:pointer;
    font-weight:800;

    padding: 10px;
    border: white 1px solid;
}

.regButton{
    border:none;
    height:3rem;
    width:6rem;
    background-color:transparent;
    /* background-color:rgba(73, 93, 64, 0.856); */
    color:white;
    font-weight:800;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor:pointer;

    padding: 10px;

    border: white 1px solid;


}

.smallScr{
    display:none;
}

.iconOn{
    display:flex;
    width:3rem;
    height:3.5rem;
    color:white;
}

.iconOff{
    display:none;
}

li {
    text-decoration: none;

}
/* Link{
    text-decoration: none;

} */

.sideNav{
    background-color:rgba(73, 93, 64, 0.856);
    position:absolute;
    top: -30px;
    right:0px;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-self:center;
    align-items:  center;
    gap:2rem;
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color:whitesmoke;
    font-size:30px;
    z-index:10000;
    color:red;
    /* text-decoration:dashed; */
    cursor:pointer;

    
}
Link{
    text-decoration: none;

}

.sideNav li{
    text-decoration: none;

}
@media (max-width:767px){

    .navBar{
        height:4rem;
        margin-bottom:0;
    }
    .linksList{
        display:none;
    }

    .logButton{
        display:none;

    }
    
    .regButton{
        display:none;

    }
    li{
        text-decoration: none;

    }
    .eachLinksList{
        text-decoration: none;
        color:red;
    }
 
    .text{
        text-decoration: none;
        font-family: 'Montserrat Alternates', sans-serif;
        color:white;

    }
    .iconOn{
        display:flex;
        width:4rem;
        height:4.5rem;
        color:white;
        background-color: white;
        border-radius: 1rem;;
    }

    .sideNav{
        background-color: rgb(73, 93, 64);
        font-size:20px;

    }
}