@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@500&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;300;500&family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Pacifico&display=swap');


/*     font-family: 'Kalnia', serif;
    font-family: 'Rubik', sans-serif;

 */


.testContainer{
    /* background-color:red; */
    /* height:200px; */
    width:90%;
    margin: 0 auto;
    text-align:center;
    height:80vh;
    display:flex;
    flex-direction:column;
    gap:2rem;
    padding:1rem;
    /* margin-top:2rem; */
    background-color: #f8f8f8;
    justify-content: center;
    /* padding:10rem; */
    box-sizing: border-box;
}


.textHeaders{
    text-align:center;
    display:flex;
    flex-direction:column;
    font-family: 'Poppins', sans-serif;
    position:relative;
    justify-content: center;
}

.textHeaders > h3{
    font-size:1.5rem;
}
.textHeaders > h1{
    font-size:23px;
    margin-bottom: 1rem;
}
.textHeaders > p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.cardContainer{
    display:flex;
    gap:2rem;
    height:100%;
    /* height:auto; */
    box-sizing:border-box;
}
.leftCard{
   
    /* background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    padding: 3rem;
    position: relative;
    height:auto;
    gap:2rem;
    display:flex;
    flex-direction: column;
    flex:1  */
    background-color: #fff;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    flex:1;
    height:100%;
    /* padding: 0.5rem; */
    display:flex;
    flex-direction: column;

}

.rightCard{
    /* 
      box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
      padding: 2rem;
      position: relative;
      flex:1;
      height:auto; */
      /* height:auto; */
      
      /* gap:1.5rem;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      box-sizing:border-box;
 */
    background-color: #fff;
     box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    flex:1;
    height:100%;
    display:flex;
    flex-direction: column;
    box-sizing:border-box;

    /* padding: 0.5rem; */

      /* justify-content: space-between; */
  }

  .svgRating{
    width:100%;
    flex:1;
    display:flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
  }
.svgRating > img{
    width:auto;
    height:3rem;
}
.textPart{
    text-align:center;
     /* position:absolute;
    top:1%; 
   left:25%;  */
    display: flex;
    height:25%;
    align-items:center;
    flex:1;

}
.textPart > p {
    text-align: center;
    /* font-family: 'poppins'; */
    font-weight:600;
    font-family: 'Rubik', sans-serif;  
    font-size:1.2rem;
    gap:1rem;
    padding:1rem;
    color:black;
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
    /* margin-bottom:1rem; */
}


.cardInfo{
   
  
    height:100%;
    flex:1;

    /* width:100%; */
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    padding:1.5rem;


}
.cardImg{
   
    /* max-width: fit-content;
    margin-right:auto; */
    object-fit: contain;
    max-width: fit-content;
    /* width:100%; */
    /* margin-left:auto; */

}

.cardImg > img{
    max-width:100%;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    /* position:absolute;
    bottom:0;
    left:-100%; */
}
.charName{
    /* font-family: 'poppins';
    font-size:large;
    font-weight:500;
    position:absolute;
    left:0;
    bottom:0; */
    
}



.zikas{
    /* position:absolute;
    top: 50%;
    right: -100%; */

}




@media (max-width:767px){
    .testContainer{
        display:flex;
        flex-direction:column; 
        height:100vh;
        /* margin-top:38rem; */
        /* width:100%;
        margin: 0 auto; */
    }

    .textHeaders{
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        /* position:relative; */

    }

    .textHeaders > h3{
        font-size:0.7rem;
        margin-bottom: 0rem;

    }

    .textHeaders > h1{
        font-size:1.1rem;
        /* position: relative;
        bottom:rem;
        top:1rem */
        margin-bottom: 0rem;
    }
    .textHeaders > p {
        font-size:0.7rem;

    }
    .cardContainer{
        display:flex;
        flex-direction:column;
        width:100%;
        margin:0 auto;
        height:100%;
        /* justify-content: space-around; */

    }

    .leftCard{
        display:flex;
        flex-direction:column;
        width:70%;
        margin:0 auto;
        /* padding: 1rem; */
        height:50%;
        border-radius:5%;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
        position:relative;
    }

    .rightCard{
        display:flex;
        flex-direction:column;
        width:70%;
        margin:0 auto;
        height:50%;
        border-radius:5%;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);

    }
    .textPart{
        display:flex;
        flex-direction:column;
        /* position:absolute;
    top:1%; 
   left:25%;  */
    display: flex;
    height:25%;
    align-items:center;
    flex:1;
        

    }

    .textPart > p{
        font-weight:600;
    font-family: 'Rubik', sans-serif;  
    font-size:0.7rem;
    gap:1rem;
    padding:1rem;
    color:black;
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
    }  
    .cardInfo{
        
        /* margin:0 auto; */
        /* text-align:center; */
        /* align-items: center; */
        /* height:50%; */
        /* justify-content: space-between; */
        /* position:absolute;
        bottom:0;
        left:0 */
        height:100%;
        /* width:100%; */
        display:flex;
        justify-content:flex-start;
        align-items:flex-end;
        padding:0.8rem;
    }

    .cardInfo > .cardImg{
        /* display:flex;
        width: 100%; */
        object-fit: contain;
        max-width: fit-content;
    
}

    .cardImg{
        display:flex;
        flex-direction:column;
        /* align-items: center;
        align-self: center; */
        /* position:relative; */
        /* 
        margin: 0 auto; */
    }

    .cardImg > img{
    max-width:100%;
    /* position:absolute; */
    /* bottom:1rem; */
    /* left:5%;
    bottom:-10%; */

} 
.cardImg > span{
    max-width:100%;
    /* position:absolute;
    bottom:0rem;
    left:17%; */
    font-size:0.8rem;

} 
.cardImg > img {
    max-width: fit-content;

    /* width: 2.5rem;
    height: 2.5rem; */
}

/*  */
.svgRating{
    width:100%;
    flex:1;
    display:flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
  }
.svgRating > img{
    width:auto;
    height:3rem;
}
}